@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: #000914;
    cursor: url('assets/cursor.svg'), auto;
}
a {
    cursor: url('assets/pointer.svg'), pointer;
}

/* in the name of */
.centered-text {
    text-align: center;
    display: block;
    font-size: small;
    color: gray;
}

/* Navbar/header */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #000914;
    /* height: 80px; */
    padding: 0 50px;
}

.menu {
    display: flex;
    
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    font-size: 14px;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #327098;
    transition: 0.15s ease-in-out;
}
.menu li a:hover {
    color: #327098; 
}
.menu li a:hover:after {
    width: 100%;
    color: #327098;
    border-bottom: 3px solid #327098;
}

.open-menu,
.close-menu {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

/* SRIJON Logo in header */
.animated-heading {
    position: relative;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #327098;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    transition: color 0.4s ease, transform 0.4s ease;
    cursor: url('assets/pointer.svg'), pointer;
}

.animated-heading::before,
.animated-heading::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: all 0.6s ease;
}

.animated-heading::before {
    top: 0;
    left: 0;
    border-top: 2px solid #ff6347;
    border-left: 2px solid #ff6347;
    transform: scaleX(0);
    transform-origin: left;
}

.animated-heading::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #1e90ff;
    border-right: 2px solid #1e90ff;
    transform: scaleX(0);
    transform-origin: right;
}

.animated-heading:hover {
    color: #ff6347;
    transform: scale(1.1);
}

.animated-heading:hover::before {
    transform: scaleX(1);
}

.animated-heading:hover::after {
    transform: scaleX(1);
    box-shadow: 0 0 15px rgba(30, 144, 255, 0.6);
}

/* Start of greetings... */
.main {
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4 {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
}

.main h4 span {
    color: #327098;
    text-decoration: underline;
}

@keyframes cursor {
    to {
        border-left: 3px solid #4b7fb7;
    }
}
.main p.title {
    font-size: 44px;
    font-weight: 600;
    min-width: 280px;
    position: relative;
    color: white;
}
.main p.title span {
    font-size: 44px;
    font-weight: 600;
    min-width: 280px;
    position: relative;
}

.main p.title span::before {
    content: "Software Engineer";
    color: #4b7fb7;
    animation: words 20s infinite;
}

.main p.title span::after {
    content: "";
    background-color: #000914;
    position: absolute;
    max-width: 100%;
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes words {
    0%,
    20% {
        content: "CODE ENTHUSIAST";
    }
    21%,
    40% {
        content: "COMPETITIVE PROGRAMMER";
    }
    41%,
    60% {
        content: "PROBLEM SOLVER";
    }
    61%,
    80% {
        content: "SPORTSMAN";
    }
    81%,
    100% {
        content: "SOFTWARE ENGINEER";
    }
}


.main p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

/* main profile picture */

.main img {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    border-radius: 40%;
}
.main .animated-logo {
    --s: 250px;
    --b: 4px;
    --g: 14px;
    --c: #4b7fb7;

    aspect-ratio: 1;
    outline: calc(var(--s) / 2.5) solid #0009;
    outline-offset: calc(var(--s) / -2);
    cursor: pointer;
    transition: 0.3s;
    cursor: url('assets/pointer.svg'), pointer;
}

.main .animated-logo:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

.main .animated-logo + .animated-logo {
    border-radius: 50%;
}

/* icons under main picture */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #4b7fb7;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #4b7fb7;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #4b7fb7;
    box-shadow: 0 0 25px #4b7fb7;
}

/* exp projects cp solved*/
.guarantee {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.guarantee .item {
    background: #0a1421;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: url('assets/pointer.svg'), pointer;
}

.guarantee .item:hover {
    border-color: #327098;
}

.guarantee .item .icon {
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.guarantee .item:hover .icon {
    background-color: #327098;
}

.guarantee .item .icon i {
    font-size: 30px;
}

.guarantee .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .item .info h3 {
    color: #327098;
    font-size: 28px;
}

.guarantee .item .info p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.guarantee .item > i {
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease;
}

.guarantee .item:hover > i {
    color: #327098;
}

/* For every seperator id */
.seprator {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    color: #327098;
    border-radius: 40px 999em 999em 40px;
}

/* about me */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about img {
    width: 280px;
    border-radius: 10%;
}

.about .info h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p {
    color: #ccc;
    font-size: 15px;
}

.about .info button {
    margin-top: 30px;
}

/* Education */
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 50px;
    /* border: 2px solid #327098; 
    border-radius: 10px; 
    background-color: #000914;
    margin: 20px 50px;  */
}

.education .info {
    text-align: center;
    width: 100%;
}

.education .info h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.education .info p {
    color: #ccc;
    font-size: 15px;
    margin: 5px 0;
}

/* Skills */
.skills {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left {
    width: 680px;
}

.skills .left .info h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p {
    color: #ccc;
    font-size: 14px;
}

.skills .left button {
    margin-top: 30px;
}

.skills .right {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #2e343b, #434a52);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.skills .right .item i,
.skills .right .item .iconify {
    font-size: 34px;
    color: white;
    transition: transform 0.3s ease;
}

.skills .right .item:hover {
    transform: scale(1.1) rotate(5deg);
    background: linear-gradient(145deg, #4680c2, #829fbf);
}

/* For project */
#projects {
    margin-top: 200px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.project-card {
    background: linear-gradient(0deg, #282c34 0%, #000914 100%);
    border-radius: 10% 25% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    align-items: center; 
    text-align: center; 
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px cyan;
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #282c34 0%, #0b376c 100%);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-card h3 {
    color:dodgerblue;
    margin-bottom: 10px;
}

.project-card p {
    color: #fff;
    margin: 5px 0;
}

.project-card a {
    color:dodgerblue;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}


/* Cvresume */
.cvresume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}
.cvresume .info h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cvresume .styled-btn {
    width: 150px;
    height: 55px;
    border-radius: 45px;
    border: none;
    background-color: #1b3e67;
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
        0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px #1b3e67 inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: url('assets/pointer.svg'), pointer;
    margin-top: 20px;
}

.cvresume .styled-btn::before,
.cvresume .styled-btn::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: rgba(250, 250, 250, 0.678);
    filter: blur(1px);
    border-radius: 50%;
}

.cvresume .styled-btn::before {
    top: 7px;
}

.cvresume .styled-btn::after {
    bottom: 7px;
    background-color: rgba(250, 250, 250, 0.137);
}

.cvresume .styled-btn:hover {
    animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* Footer */
footer {
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #327098;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p {
    font-size: 13px;
    width: 35%;
}

footer .start button {
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .start button:hover {
    background-color: #fff;
    border-color: #fff;
}
footer .start button {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
footer .cols {
    display: flex;
    align-items: start;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col h3 {
    color: #327098;
    margin-bottom: 20px;
}

footer .cols .about-col p {
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col {
    flex: 3;
}

footer .cols .links-col h4,
footer .cols .news-col h4 {
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a {
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
    color: #327098;
}

footer .cols .news-col {
    flex: 3;
}

footer .cols .news-col p {
    color: #7b7b7b;
    font-size: 15px;
}

footer .cols .news-col form {
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input {
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #327098;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.styled-btn {
    background-color: #327098;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-btn:hover {
    background-color: #255474;
}
footer .cols .news-col form button:hover {
    background-color: #1d1a43;
}

footer .cols .news-col form button i {
    font-size: 26px;
}

/* For Shooting Stars */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    color: cyan;
    opacity: 10%;
    z-index: -999;
}

.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
        tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

.star:nth-child(1) {
    --star-tail-length: 6.46em;
    --top-offset: 72.86vh;
    --fall-duration: 11.207s;
    --fall-delay: 8.73s;
}
.star:nth-child(2) {
    --star-tail-length: 7.38em;
    --top-offset: 50.69vh;
    --fall-duration: 7.898s;
    --fall-delay: 7.301s;
}
.star:nth-child(3) {
    --star-tail-length: 6.5em;
    --top-offset: 69.05vh;
    --fall-duration: 10.903s;
    --fall-delay: 8.911s;
}
.star:nth-child(4) {
    --star-tail-length: 6.17em;
    --top-offset: 80.6vh;
    --fall-duration: 7.78s;
    --fall-delay: 6.884s;
}
.star:nth-child(5) {
    --star-tail-length: 6.55em;
    --top-offset: 34.79vh;
    --fall-duration: 7.778s;
    --fall-delay: 9.848s;
}
.star:nth-child(6) {
    --star-tail-length: 5.77em;
    --top-offset: 26.22vh;
    --fall-duration: 11.339s;
    --fall-delay: 5.058s;
}
.star:nth-child(7) {
    --star-tail-length: 5.81em;
    --top-offset: 42.92vh;
    --fall-duration: 7.816s;
    --fall-delay: 8.556s;
}
.star:nth-child(8) {
    --star-tail-length: 6.62em;
    --top-offset: 51.5vh;
    --fall-duration: 10.339s;
    --fall-delay: 1.932s;
}
.star:nth-child(9) {
    --star-tail-length: 6.33em;
    --top-offset: 37.04vh;
    --fall-duration: 12s;
    --fall-delay: 7.007s;
}
.star:nth-child(10) {
    --star-tail-length: 6.34em;
    --top-offset: 45.84vh;
    --fall-duration: 6.233s;
    --fall-delay: 8.137s;
}
.star:nth-child(11) {
    --star-tail-length: 7.5em;
    --top-offset: 43.75vh;
    --fall-duration: 10.444s;
    --fall-delay: 7.604s;
}
.star:nth-child(12) {
    --star-tail-length: 5.06em;
    --top-offset: 28.86vh;
    --fall-duration: 11.414s;
    --fall-delay: 9.193s;
}
.star:nth-child(13) {
    --star-tail-length: 6.11em;
    --top-offset: 83.95vh;
    --fall-duration: 7.396s;
    --fall-delay: 8.771s;
}
.star:nth-child(14) {
    --star-tail-length: 6.79em;
    --top-offset: 46.54vh;
    --fall-duration: 7.298s;
    --fall-delay: 2.274s;
}
.star:nth-child(15) {
    --star-tail-length: 5.73em;
    --top-offset: 85.23vh;
    --fall-duration: 6.102s;
    --fall-delay: 8.454s;
}
.star:nth-child(16) {
    --star-tail-length: 6.99em;
    --top-offset: 23.34vh;
    --fall-duration: 7.815s;
    --fall-delay: 0.021s;
}
.star:nth-child(17) {
    --star-tail-length: 5.63em;
    --top-offset: 90vh;
    --fall-duration: 7.105s;
    --fall-delay: 9.222s;
}
.star:nth-child(18) {
    --star-tail-length: 6.04em;
    --top-offset: 17.17vh;
    --fall-duration: 7.953s;
    --fall-delay: 1.563s;
}
.star:nth-child(19) {
    --star-tail-length: 6.95em;
    --top-offset: 90.05vh;
    --fall-duration: 11.14s;
    --fall-delay: 9.406s;
}
.star:nth-child(20) {
    --star-tail-length: 5.28em;
    --top-offset: 16.97vh;
    --fall-duration: 11.079s;
    --fall-delay: 1.2s;
}
.star:nth-child(21) {
    --star-tail-length: 5.32em;
    --top-offset: 91.7vh;
    --fall-duration: 6.97s;
    --fall-delay: 1.242s;
}
.star:nth-child(22) {
    --star-tail-length: 6.05em;
    --top-offset: 44.38vh;
    --fall-duration: 7.803s;
    --fall-delay: 3.041s;
}
.star:nth-child(23) {
    --star-tail-length: 5.31em;
    --top-offset: 55.23vh;
    --fall-duration: 8.076s;
    --fall-delay: 2.856s;
}
.star:nth-child(24) {
    --star-tail-length: 7.16em;
    --top-offset: 36.57vh;
    --fall-duration: 7.547s;
    --fall-delay: 4.226s;
}
.star:nth-child(25) {
    --star-tail-length: 5.38em;
    --top-offset: 58.94vh;
    --fall-duration: 6.663s;
    --fall-delay: 0.296s;
}
.star:nth-child(26) {
    --star-tail-length: 7.17em;
    --top-offset: 43.18vh;
    --fall-duration: 6.765s;
    --fall-delay: 2.232s;
}
.star:nth-child(27) {
    --star-tail-length: 5.33em;
    --top-offset: 23.95vh;
    --fall-duration: 7.898s;
    --fall-delay: 5.472s;
}
.star:nth-child(28) {
    --star-tail-length: 6.06em;
    --top-offset: 95.13vh;
    --fall-duration: 9.15s;
    --fall-delay: 0.805s;
}
.star:nth-child(29) {
    --star-tail-length: 6.57em;
    --top-offset: 14.04vh;
    --fall-duration: 8.169s;
    --fall-delay: 2.641s;
}
.star:nth-child(30) {
    --star-tail-length: 6.63em;
    --top-offset: 94.07vh;
    --fall-duration: 7.728s;
    --fall-delay: 7.332s;
}

.star::before,
.star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}
.star::before {
    transform: rotate(45deg);
}
.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}
@keyframes tail-fade {
    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }
    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        opacity: 0.6;
    }
}


/* For Mobile Responsive */

@media screen and (max-width: 1100px) {
    .guarantee {
        flex-wrap: wrap;
        gap: 10px;
    }

    .guarantee .item {
        flex-basis: 49%;
    }

    .skills {
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left {
        width: 500px;
    }

    .skills .left .info h3 {
        font-size: 22px;
    }

    .skills .left .info p {
        font-size: 12px;
    }

    footer {
        margin-top: 150px;
    }

    footer .start {
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols {
        flex-wrap: wrap;
    }

    footer .cols .about-col {
        flex-basis: 50%;
    }

    footer .cols .links-col {
        flex-basis: 50%;
    }

    footer .cols .news-col {
        flex-basis: 50%;
    }

    .social-icons a {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        margin: 2rem 1rem 2rem 0;
    }
    #projects {
        margin-top: 400px;
    }
}

@media screen and (max-width: 780px) {
    .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
    .navbar button {
        display: none;
    }
    .main h4 {
        font-size: 20px;
    }
    .project-card {
        width: 90%;
    }
    .main p.title {
        font-size: 18px;
    }
    .main p.title span {
        font-size: 16px;
    }

    .main p.subtitle {
        font-size: 14px;
    }

    .guarantee .item {
        flex-basis: 100%;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu {
        display: none;
        position: absolute;
        right: 0;
        background-color: #000914;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        top:0;
        z-index: 99;
    }

    .menu li {
        padding: 10px 0;
    }

    #check:checked ~ .menu {
        display: flex;
    }

    .open-menu,.close-menu {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .main {
        margin-top: 50px;
        height: 320px;
        justify-content: start;
        padding-bottom: 350px;
    }

    .main h4 {
        font-size: 20px;
    }

    .main p.title,
    .main p.title span {
        font-size: 19px;
        text-align: center;
    }

    .main p.subtitle {
        font-size: 12px;
    }

    .main img {
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right {
        justify-content: space-between;
    }

    .skills .left .info h3 {
        font-size: 20px;
    }

    footer .start {
        top: -8%;
    }

    footer .start p {
        display: none;
    }

    footer .cols .about-col {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    footer .cols .links-col {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    footer .cols .news-col {
        flex-basis: 100%;
    }
    .nav-bar {
        padding: 0 20px;
    }

}

@media screen and (max-width: 480px) {
    .main h4 {
        font-size: 14px;
    }

    .main p.title,
    .main p.title span {
        font-size: 12px;
        text-align: center;
    }

    .main p.subtitle {
        font-size: 10px;
    }

    .guarantee .item .info h3 {
        font-size: 20px;
    }

    .guarantee .item .info p {
        font-size: 12px;
    }
    .seprator {
        margin: 70px 10px;
    }

    .skills {
        padding: 0 10px;
    }
}
